.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-1-aboutus {
    margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: 0px;

}

.row-2-aboutus {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;

}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height: 400px;
}

.row-3-aboutus{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
}